<router-outlet>
  <mat-accordion>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title> Formulaire </mat-panel-title>
      </mat-expansion-panel-header>

      <app-form></app-form>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title> Tableau </mat-panel-title>
      </mat-expansion-panel-header>

      <app-table></app-table>
    </mat-expansion-panel>
  </mat-accordion>
</router-outlet>
